* {
  font-family: "Arial Narrow";
  font-weight: lighter;
  letter-spacing: 1px;
}
.mainContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 100px;
  color: #517ec6;
  text-align: center;
}

.changeTitleContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changeTitleInput {
  color: #517ec6;
  text-align: center;
  font-size: 50px;
}
.changeTitleInput:focus {
  border: 1px solid #517ec6;
}

.updateButton {
  color: #517ec6;
  font-size: 50px;
  background: none;
  border: 1px solid #517ec6;
  cursor: pointer;
  transition: color 0.5s;
  margin-top: 20px;
}
.updateButton:hover,
.updateButton:focus {
  background: #517ec6;
  color: white;
}

.backLink {
  margin: 20px 20px;
  color: #517ec6;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color 0.5s;
}
.backLink:hover {
  border-bottom: 1px solid #517ec6;
}
