<em><p>SHOW RATING QUESTION</p></em>
<%= react_component "RatingQuestions/ShowRatingQuestion", {ratingQuestionsUrl: rating_questions_url, question: {id: @rating_question.id.to_str, title: @rating_question.title}} %>
