.list {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1000px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1500px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
