* {
  font-family: "Arial Narrow";
  font-weight: lighter;
  letter-spacing: 1px;
}

.questionContainer {
  display: flex;
  margin: 2.5%;
  width: 90%;
  height: 450px;
}

.questionColumn {
  background: #517ec6;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 0px 0px 5px;
}

.answersColumn {
  width: 50%;
  border: 10px solid #517ec6;
  display: flex;
  justify-content: space-around;
  background: white;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
}

.changeTitleContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeTitleInput {
  height: 50px;
  font-size: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.updateButton {
  height: 50px;
  font-size: 30px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.5s;
  border: 1px solid #517ec6;
}
.updateButton:hover {
  background: #517ec6;
  color: white;
  border: 1px solid white;
}

.deleteButton {
  width: 95%;
  margin: 10px;
  height: 50px;
  font-size: 30px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.5s;
  border: 1px solid #517ec6;
}
.deleteButton:hover {
  background: #517ec6;
  color: white;
  border: 1px solid white;
}

.questionTitle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border 0.5s;
}

.questionTitle:hover {
  border-bottom: 1px solid white;
}

.selectionIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 10%;
}

.optionsContainer {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

// @media (min-width: 1500px) {
//   .questionContainer {
//     height: 300px;
//   }
// }

@media (min-width: 1000px) {
  .questionContainer {
    height: 250px;
  }

  .questionTitle {
    height: 100px;
    font-size: 20px;
  }

  .changeTitleInput,
  .updateButton,
  .deleteButton {
    height: 30px;
    font-size: 15px;
  }

  .optionsContainer {
    height: 150px;
  }
}
