.optionContainer {
  width: 90%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionInput {
  font-size: 100px;
  cursor: pointer;
  margin: 0;
}

.optionValue {
  text-align: left;
  width: 1000%;
  font-size: 40px;
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .optionValue {
    font-size: 20px;
  }
}
